body {
    margin: 0;
    font-family: Kadwa, sans-serif;
    background-color: #F7F7EC;
    color: #000000;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAE9;
    padding: 10px 30px;
    border-bottom: 1px solid #F2F5D8;
  }
  
  .logo {
    font-weight: bold;
    font-size: 24px;
    
  }
  
  .nav {
    display: flex;
    align-items: center;
    margin: 15px;
    gap: 10px;
  }
  
  .nav input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .auth-links {
    display: flex;
    padding: 4px 10px; 
    justify-content: center;
    align-items: center;
    gap: 5px; 
    border-radius: 10px;
    background: #F2F5D8; 
  }
  
  .auth-links a {
    color: #000;
    font-family: Kadwa, sans-serif;
    font-size: 16px; 
    font-style: normal;
    font-weight: 400;
    line-height: 1.2; 
    text-decoration: none;
  }

  .full-text {
    display: inline;
  }
  
  .short-text {
    display: none;
  }
  
  @media (max-width: 545px) {
    .header{
        padding: 10px 5px;
    }
    .full-text {
      display: none;
    }
    .short-text {
      display: inline;
    }
  }
  
  .container{
    max-width: 800px;
    background-color: rgb(243, 237, 237);
    padding: 20px;
    margin: auto;
    margin-top: 43px;
    box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.1);
    border-radius: 20px;
    margin-bottom: 35px;
  }
  @media (max-width: 842px) {
  .container{
    margin: 2ch;
  }
  }

  .p {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    margin-bottom: 20px;
    font-family: "Kadwa-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 26px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 26px;
  }

  .text-wrapper {
    font-weight: bold;
  } 
  
  .span {
    font-family: "Kadwa-Regular", Helvetica;
    font-size: 16px;
    line-height: 24px;
  }
 

